<div class="p-d-container">
    <div class="p-grid">
        <div class="p-col-1"></div>
            <div class="p-col-10">
                <h1>Prueba CUC Richard Espejo</h1>

                <p-table [value]="data" [lazy]="true" (onLazyLoad)="getLocalData($event)" 
                [paginator]="true" [rows]="20" [totalRecords]="registrosTotales" [loading]="cargando" >
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            Datos desde la API
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let th of tablaTh">{{th}}</th>            
                        </tr>
                    </ng-template>
                    
                    <ng-template pTemplate="body" let-data let-index="rowIndex">
                        <tr>
                            <td>{{ data.title }}</td>
                            <td>{{ data.accessURL }}</td>
                            <td>{{ data._about }}</td>
                            <td>
                                <span class="p-buttonset">
                                    <button pButton (click)="edit(index)" type="button" label="Editar" icon="pi pi-pencil" class="p-button-warning" badge="8" badgeClass="p-badge-info"></button>
                                    <button pButton (click)="delete(index)" type="button" label="Eliminar" icon="pi pi-times" class="p-button-danger" badge="8" badgeClass="p-badge-info"></button>
                                </span>    
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <hr>
                <button pButton (click)="new()" type="button" label="Nuevo Registro" icon="pi pi-upload" class="p-button-success" badge="8" badgeClass="p-badge-info"></button>

        </div>
        <div class="p-col-1"></div>
    </div>
</div>

